{% extends "layouts/base.html" %}

{% block title %} My Albums {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2 class="mt-4 pt-4" style="margin-top: 70px">My Album</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Album Name

                                </div>
                                <div class="col-md-8">
                                    {{ form.album_name }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Private

                                </div>
                                <div class="col-md-8">
                                    {{ form.private }}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="{% url 'my_albums' %}" class="btn btn-danger">Cancel</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if edit %}
        <a class="btn btn-primary" style="float: right" href="{% url 'add_photo' album.id %}"/>New
        Photo</a>
        {% if photos %}
            <h2 class="mt-4 pt-4" style="margin-top: 70px">Album Photos</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                {% for item in photos %}
                                    <div class="col-md-3 ">
                                        <div style="border-radius: 5px; border:1px solid #ddd; text-align: center">
                                            <a href="{% url 'delete_photo' item.id %}" class=""
                                               style="position: absolute; top:0; right: 14px; color: red; font-weight: bold;padding:5px;">x</a>
                                            <a href="{% url 'edit_photo' item.id %}" class=""
                                               style="position: absolute; top:0; right: 50px; color:blue; font-weight: bold;padding:5px;">edit</a>
                                            <a href="{{ item.photo.url }}" target="_blank"><img
                                                    src="{{ item.photo.url }}" width="100px" height="100px"/></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}