{% extends "layouts/base.html" %}

{% block title %} Home Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2 class="mt-4 pt-4" style="margin-top: 70px">All Public Albums</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% for item in all_public_albums %}
                        <div class="col-md-12" style="margin:10px; border:1px solid #333; border-radius: 5px;">
                            <div class="row">
                                <div class="col-md-4">
                                    {% if item.cover_photo_url %}
                                        <a href="{{ item.cover_photo_url }}" target="_blank"><img
                                                src="{{ item.cover_photo_url }}"
                                                style="width:100%;"/></a>
                                    {% else %}
                                        <img src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png"
                                             style="width:100%;"/>
                                    {% endif %}
                                </div>
                                <a class="col-md-8">
                                    <h3>{{ item.album_name }}</h3>
                                    <h5>{{ item.user.username }}</h5>
                                    <h5>{{ item.created_date }}</h5>
                                    <a class="btn btn-primary" href="{% url 'view_album' item.id %}"
                                       style="position: absolute; top: 10px; right: 10px"/>View</a>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}