{% extends "layouts/base.html" %}

{% block title %} Home Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h1 class="mt-4 pt-4" style="margin-top: 70px">All Public Albums</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% for item in all_public_albums %}
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}